<div class="jumbotron">
  <h1 class="display-3">Регистрация специалиста</h1>
  <p class="lead">Для создания EP-id заполните форму регистрации. После модерации ваш учетная запись будет активирована.</p>
  <p><%= link_to 'Начать регистрацию', new_employment_path, :class=>"btn btn-lg btn-success" %></p>
</div>
<p>Зарегистрируйте свою компанию   <p><%= link_to 'Начать регистрацию', new_company_path, :class=>"btn btn-lg btn-success" %></p>
<p>Поиск специалиста</p>
