/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap";


 .jumbotron {
   text-align: center;
 }

.header {
  padding: 0px;
  background-color: #1b1b1b;
  nav {
     width: 1024px;
     margin: 0 auto;
     h3{
       font-size: 1.1rem;
       padding-top: 0.4rem;
     }
     ul{
       li{
         a{
           text-transform: uppercase;
           font-size: 0.8rem;
           font-weight: 600;
           color: #999;
           &:hover{
             color: white;
           }
         }
       }
     }
  }
  .search-panel{
    background-color: #e6e6e6;
    padding: 5px 0px;
    .wrp{
      width: 1024px;
      margin: 0 auto;
    }
    input.form-control{
      width: 950px;
    }
  }
}

.title{
  margin: 100px 0;
  h1{
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dotted;
  }
}

.company-list{
  font-size: 0.9rem;
  .company-item{
    border-bottom: 1px dotted;
    padding: 30px 0px;


    .company-logo{
      a{
        text-align: left;
        img{
          width: 100%;
        }
      }
    }
    .company-name{
      font-size: 1.1rem;
      font-weight: bold;
      a{
        color: #000
      }

    }
    .company-employees{
      color: #999;
    }
    .company-phone{
      text-align: center;
    }
    .company-url{
      text-align: right;
    }
  }


}
.pagination{
  li{
    display: inline-block;
  }
}
.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 10px;
  margin: -4px 0 0 0;
  list-style: none;
  font-size: 0.8rem;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-right: 0.8rem;
}
